/* ESTILOS GENERALES Y HERRAMIENTAS*/
body {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.container {
  display: flex;
  justify-content: center;
  width: 50%;
}

#contenedor-top {
  background-color: transparent;
  margin-bottom: 50px;
}

.bottom20 {
  margin-bottom: 20px;
}

/* FORM */
h1 {
  font-family: "Ranchers", cursive;
  color: rgba(51, 51, 51, 0.841);
}
form {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

input {
  background: rgba(51, 51, 51, 0.372);
  color: #444;
  border: none;
}

#TransactionDescription {
  border-radius: 10px;
}

#TransactionAmount {
  margin-left: 36px;
  border-radius: 10px;
}

#CategoryType {
  margin-left: 13px;
  border-radius: 10px;
}

button {
  border: none;
  padding: 4px;
  border-radius: 10px;
  width: 100%;
  height: 80%;
  background-color: #80519c;
}
#botonDeEnvio {
  width: 34%;
  background-color: #80519c;
  margin-bottom: 20px;
}

#botonDeEnvio:hover {
  background-color: #81519c8d;
}

button:hover {
  background-color: #81519c97;
}

/*TABLA*/

td,
th {
  border: 2px solid #999;
  padding: 10px;
  text-align: center;
}
th {
  background: #ef1bd76d;
}
td {
  background: #52525292;
  color: #444;
}

.tableStyle table {
  margin: 0 auto;
}
